.arial{
  font-family: arial;
}
.btn{
  width: 200px;
  height: 50px;
  border-radius: 30px;
  background-color: white;
  border: 2px solid #A2D9CE;
  transition: background-color 2s;
}
.btn:hover {
  background-color: #A2D9CE;
}
.container {
  background-image: url(../img/unsplash-img.jpg);
  background-size: cover;
  height:700px;
  margin: 50px auto;
  width:100%;
}
